/app/modules/test.py
/.idea/
/dist/
/app/modules/mask.png
/app/modules/result.jpg
/temp/
/fish/
/AppData/config.json
/app/resource/images/fishing/test.png
/app/resource/images/fishing/test_yellow.png
/log/
/main.exe
/release/
