/app/modules/test.py
/.idea/
/dist/
/app/modules/mask.png
/app/modules/result.jpg
/temp/
/fish/
/AppData/config.json
/app/resource/images/fishing/test.png
/app/resource/images/fishing/test_yellow.png
/log/
/main.exe
/release/
/PerfectBuild/release/
/PerfectBuild/build/
/build/
/AppData/scale_cache.json
/AppData/activity_date.json
__pycache__/
nuitka-crash-report.xml
.venv/
*.pyc
saa.cmd
